{% extends 'base/base_with_navbar.html' %}

{% load static %}

{% block content %}
<body>
  <div class="container mt120">

    {% for foods in food_list %}
    <div class="food_image">
      <img src="{{ foods.food_image.url }}" class="rounded" alt="{{ foods }}">
        <h3></h3>

    </div>
    {% endfor %}
    

    <h2>식품영양성분표</h2>
    <table class="table">
      {% for foods in food_list %}
      <tbody class="table-group-divider">
        <tr>
          <th>식품명</th>
          <td>{{ foods.name }}</td>
        </tr>
        <tr>
          <th>분류</th>
          <td>곡류 및 그 제품</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2 class="mt80">성분분석표</h2>
    <table class="table mt20">
      <!-- <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">식품명</th>
          <th scope="col">식품분류</th>
          <th scope="col">식품상세분석</th>
        </tr>
      </thead> -->
      {% for foods in food_list %}
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1회제공량</th>
          <td>40g</td>
          <th scope="row">열량</th>
          <td>{{ foods.calories }}</td>
        </tr>
        <tr>
          <th scope="row">탄수화물</th>
          <td>{{ foods.carbohydrates }}</td>
          <th scope="row">단백질</th>
          <td>{{ foods.protein }}</td>
        </tr>
        <tr>
          <th scope="row">지방</th>
          <td>{{ foods.fat }}</td>
          <th scope="row">철</th>
          <td>{{ foods.iron }}</td>
        </tr>
        <tr>
          <th scope="row">식이섬유</th>
          <td>{{ foods.dietary_fiber }}</td>
          <th scope="row">비타민C</th>
          <td>{{ foods.vitamin_c }}</td>
        </tr>
        <tr>
          <th scope="row">비타민B1</th>
          <td>{{ foods.vitamin_b1 }}</td>
          <th scope="row">비타민B2</th>
          <td>{{ foods.vitamin_b2 }}</td>
        </tr>
        <tr>
          <th scope="row">나트륨</th>
          <td>{{ foods.sodium }}</td>
          <th scope="row">칼슘</th>
          <td>{{ foods.calcium }}</td>
        </tr>
        <tr>
          <th scope="row">포화지방산</th>
          <td>{{ foods.saturated_fat }}</td>
          <th scope="row">트랜스지방산</th>
          <td>{{ foods.trans_fat }}</td>
        </tr>
        <tr class="none">
          <!-- <th></th> -->
          <td colspan="4">데이터 정보가 없습니다.</td>
          <!-- <td></td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
{% endblock content %}