{% extends 'base/base_with_navbar.html' %}

{% load static %}

{% block content %}
<body>
  <div class="container">
      <h2>음식검색</h2>
      <div class="search_box">
        <form method="post" action="/search/">
            <!-- 검색종류 -->
            <!-- <input type="hidden"> -->
            <input class="form-control" type="search" name="" placeholder="검색어를 입력하세요">
            <button type="submit" class="btn btn-secondary" style="
            border-radius: 0 5px 5px 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                    </path>
                </svg>
            </button>
        </form>
    </div>
    <h2 class="mt80">음식정보</h2>
    <table class="table mt20">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">식품명</th>
          <th scope="col">식품분류</th>
          <th scope="col">식품상세분석</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        {% empty %}
        <tr class="none">
          <!-- <th></th> -->
          <td colspan="4">데이터 정보가 없습니다.</td>
          <!-- <td></td> -->
        </tr>

      </tbody>
    </table>
  </div>
{% endblock content %}